<div>
  <h1 x-large class="slds-text-title">Your Content Here</h1>

  <div class="slds-m-top--small">
    For hot module reloading run
    <pre class="slds-box slds-box--x-small slds-text-body--x-small">npm run start:hmr</pre>
  </div>

  <div class="slds-m-top--medium">
    <h3 class="slds-section-title--divider">Local State</h3>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <ngl-form-element label="Local state" class="slds-m-top--small">
        <input nglFormControl [value]="localState.value" (input)="localState.value = $event.target.value" placeholder="Submit Local State to App State"
          autofocus>
      </ngl-form-element>

      <button nglButton="neutral" class="slds-m-top--small">Submit Value</button>
    </form>

    <pre class="slds-box slds-box--x-small slds-m-top--medium slds-text-body--small">this.localState = {{ localState | json }}</pre>
  </div>
</div>
